services:
  wazuh-indexer:
    image: wazuh/wazuh-indexer:latest
    ports:
      - "9200:9200"
  wazuh-server:
    image: wazuh/wazuh-manager
  wazuh-dashboard:
    image: wazuh/wazuh-dashboard
  wazuh-agent:
    image:
